<html>
  <head>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="/css/nav.css">
  </head>
  <body>
      <nav class="nav">
          <a href="/" class="nav__link">
            <i class="material-icons nav__icon">dashboard</i>
            <span class="nav__text">Dashboard</span>
          </a>
          <a href="/account" class="nav__link nav__link--active">
            <i class="material-icons nav__icon">person</i>
            <span class="nav__text">Account </span>
          </a>
          <a href="/contact" class="nav__link">
            <i class="material-icons nav__icon">devices</i>
            <span class="nav__text">contact</span>
          </a>
          <a href="/subscirbe" class="nav__link">
            <i class="material-icons nav__icon">money</i>
            <span class="nav__text">Subscribe</span>
          </a>
          <a href="/compose " class="nav__link">
            <i class="material-icons nav__icon">pen</i>
            <span class="nav__text">compose</span>
          </a>
        </nav>
  </body>
</html>